[Unit]
Description=Run VPN traffic collector every minute

[Timer]
OnBootSec=60s
OnUnitActiveSec=60s
AccuracySec=5s
Unit=vpn-traffic-collect.service

[Install]
WantedBy=timers.target
